@model List<SocialMedia>
<footer id="footer" class="footer position-relative light-background">
	<div class="container">
		<h3 class="sitename">Yusuf Furkan Demir</h3>
		<p>Ve bazen, başka seçenek kalmadığında, zorluklarla yüzleşmek zorunda kalırız. Çoğu zaman, rahatlama arayışında oluruz</p>

		<div class="social-links d-flex justify-content-center">
			@foreach (var item in Model)
			{
				<a href="@item.SocialMediaUrl"><i class="@item.SocialMediaIcon"></i></a>
			}
		</div>
		<div class="container">
			<div class="copyright">
				<span>Copyright</span> <strong class="px-1 sitename">Yusuf Furkan Demir</strong> <span>All Rights Reserved</span>
			</div>

		</div>
	</div>
</footer>