@model List<SocialMedia>
<section id="hero" class="hero section light-background">

	<img src="/MyResume-1.0.0/assets/img/image.jpg" alt="">

	<div class="container" data-aos="zoom-out">
		<div class="row justify-content-center">
			<div class="col-lg-9">
				<h2> Yusuf Furkan Demir</h2>
				<p>Çalışma Alanlarım: <span class="typed" data-typed-items=".Net Backend Development, Maui Mobil Geliştirme, Büyük Veri Analizi, Angular Js Frontend Development">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>

				<div class="social-links">
					@foreach (var item in Model)
					{
						<a href="@item.SocialMediaUrl"><i class="@item.SocialMediaIcon"></i></a>
					}
				</div>

			</div>
		</div>
	</div>

</section><!-- /Hero Section -->
