@{
	Layout = null;
}
<section id="stats" class="stats section">

	<div class="container" data-aos="fade-up" data-aos-delay="100">

		<div class="row gy-4">

			<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
				<i class="bi bi-emoji-smile"></i>
				<div class="stats-item">
					<span data-purecounter-start="0" data-purecounter-end="@ViewBag.MemnunMus" data-purecounter-duration="1" class="purecounter"></span>
					<p>Memnun Müşteriler</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
				<i class="bi-folder2-open"></i>
				<div class="stats-item">
					<span data-purecounter-start="0" data-purecounter-end="@ViewBag.Projeler" data-purecounter-duration="1" class="purecounter"></span>
					<p>Projeler</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
				<i class="bi bi-people"></i>
				<div class="stats-item">
					<span data-purecounter-start="0" data-purecounter-end="@ViewBag.Destekci" data-purecounter-duration="1" class="purecounter"></span>
					<p> Destekçiler </p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
				<i class="bi bi-award"></i>
				<div class="stats-item">
					<span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
					<p>Buyuk Projeler</p>
				</div>
			</div>

		</div>

	</div>

</section>
